<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<h1>HELLO NEW USERS </h1>

<form th:action="@{/users}" th:method="POST" th:object="${users}"><br><br>
    <label for="name">Name</label>
    <input th:field="*{name}" type="text" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Age</label>
    <input th:field="*{age}" type="text" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Email</label>
    <input th:field="*{email}" type="text" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
    <br/>
    <input type="submit" value="Creat">
</form>


</form>
</body>
</html>